
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style  */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.bold{
    font-weight: 700;
    color: rgb(37, 36, 50);
}
.color-1{
    color: rgb(137, 135, 161);
}


/* nav  */
nav {
    justify-content: center;
    display: flex;
    justify-content: space-between;
    /* gap: 59px; */
    align-items: center;
    /* justify-items: center */
    /* margin: 30px 150px; */
    /* width: max-content */
    height: 120px;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    /* bottom: 120px; */
}

.menu {
    display: flex;
    list-style: none;
    gap: 40px;
}
nav ul a{
    text-decoration: none;
}
.logo img{
    width: 135px;
    height: 82px;
    
}

/* fresh section */

.fresh{
    display: flex;
    margin: 100px auto;
    max-width: 1140px;
    height: 460px;
    /* top: 120px; */
    flex: 1;
    
    
}
.fresh-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.fresh img{
    /* flex: 1; */
    object-fit: cover;
    width: 570px;
    /* height: 350px; */
    padding-top: 106px;
    
}
.always{
    text-align: left bottom;
    font-weight: 700;
    font-size: 65px;
    color: black;
    text-shadow: black ;
    font-weight: bold;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
    

    
}
.fresh-fresh{
    color: rgb(233, 90, 8);
    font-weight: 900;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);

}
.flower{
    color: rgb(233, 90, 8);
    font-size: 65px;
    margin-bottom: 12px ;
    padding: 0;
}
.fresh p{
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
}