
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.bold{
    font-weight: 700;
    color: rgb(37, 36, 50);
}
.color-1{
    color: rgb(137, 135, 161);
}
nav {
    justify-content: center;
    display: flex;
    justify-content: space-between;
    /* gap: 59px; */
    align-items: center;
    /* justify-items: center */
    /* margin: 30px 150px; */
    /* width: max-content */
    height: 120px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.menu {
    display: flex;
    list-style: none;
    gap: 40px;
}
nav ul a{
    text-decoration: none;
}
.logo img{
    width: 135px;
    height: 82px;
    
}