
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style  */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.bold{
    font-weight: 700;
    color: rgb(37, 36, 50);
}
.color-1{
    color: rgb(137, 135, 161);
}


/* nav  */
nav {
    justify-content: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    max-width: 1140px;
    margin: 0 auto;
    padding: 30px 0px;
}

.menu {
    display: flex;
    list-style: none;
    gap: 40px;
}
nav ul a{
    text-decoration: none;
}
.logo img{
    width: 135px;
    height: 82px;
    
}

/* fresh section */

.fresh{
    display: flex;
    margin: 100px auto;
    max-width: 1140px;
    height: 460px;
    /* top: 120px; */
    order: 1;
    
    
}
.fresh-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.fresh img{
    /* flex: 1; */
    object-fit: cover;
    width: 570px;
    /* height: 350px; */
    padding-top: 106px;
    
}
.always{
    text-align: left bottom;
    font-weight: 700;
    font-size: 65px;
    color: black;
    text-shadow: black ;
    font-weight: bold;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
    

    
}
.fresh-fresh{
    color: rgb(233, 90, 8);
    font-weight: 900;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);

}
.flower{
    color: rgb(233, 90, 8);
    font-size: 65px;
    margin-bottom: 12px ;
    padding: 0;
}
.fresh p{
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    /* padding: 10px 0px; */
}
.text-plant{
    /* margin: 10px; */
    text-align: center;
    margin-bottom: 100px;
}
.our-plant{
    color: rgb(233, 90, 8);
    font-size: 40px;
    font-weight: 700;
    /* line-height: 68px; */
}
.plants{
    color: black;
}
.plant-paragraph{
    padding-top: 10px;
}
.plant-p{
    font-size: 22px;
}
.card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap : 30px;
}

.card{
    /* text-align: center; */
    width: 270px ;
    height: 480px;
    text-align: center;
}
.plant-img{
    width: 270px;
    height: 300px;
    margin-bottom: 25px;
}

.lily{
color: rgb(17, 17, 17);
/* font-family: Inter; */
font-size: 22px;
font-weight: 400;
/* text-align: center; */
justify-items: center;
align-items: center;
margin-bottom: 15px;

}

.USD{
    color: rgb(17, 17, 17);
font-size: 22px;
font-weight: 700;
}
.cart{
    background: rgb(233, 90, 8);
    padding: 16px 40px 16px 40px;
    width: 270px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    margin-top: 25px;
    transition: background-color 0.3s;
}
.cart:hover{
    background-color: rgb(248, 128, 47) ;
}
.card:hover{
    transform: translateY(-10px);
    transition-delay: 100ms;
    transition: 0.4s;
}
/* Lover section  */
.love-div{
    padding: 48px 20px;
    background-color: #f5f8ff;
    margin-top: 200px;
}

.love-div {
    display: flex;
    align-items: center;
    gap: 100px;
    position: relative;
}
.flower-man{
    width: 540px;
height: 597px;
}

.badge{
    position: absolute;
    top: -180px;
    right:450px;
    width: 350px;
    height: 350px;
    overflow: hidden;
    

}
.lover-title{
    font-size: 60px;
font-weight: 700;
text-align: left;
}
.lover-para{
   font-size: 22px;
font-weight: 400;
}

.ul-div{
    padding-left: 22px;
}
.lover-texts{
    flex: 1;
}
/* RE */
@media screen and (max-width: 480px) {

.ok{
        display: none;
 }
 nav{
    width: 460px;
height: 38px;
margin-left: 60px;
margin-top: 67px;
 }

.cart-o{

    font-size: 1.3em;
}

.fresh{
    flex-direction: column-reverse;
    margin-top: 380px;
}
.fresh img{
    margin-bottom: 40px;
    /* margin-top: 230px; */
}
.fresh-text{
    padding-left: 30px;
    width: 540px;
}
.text-plant{
    padding-left: 100px;
}
.card-grid{
    grid-template-columns: repeat(2,1fr);
        gap: 20px;
}

.badge{
   display: none;

}
.love-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    position: relative;
    /* padding: ; */
    width: 580px;
}

}